* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}


.container {
  position: relative;
  margin: 0 auto;
  width: 720px;
}

.nav {
  float: left;
  left:0px;
  width: 120px;
  height: 100%;
}

.content {
  float: right;
  width: 600px;
  border-left: 1px dotted black;
  padding-left: 20px;
}

.footer {
  padding-left: 140px;
  clear: both;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px dotted black;
}


